@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* border: solid red; */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
}

.nav-link {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    font-size: 1.2rem;
}

.nav-link:hover {
    text-decoration: underline;
    cursor: pointer;
    text-decoration-color: blue;
    text-decoration-style: solid;
    text-decoration-thickness: 0.15rem;
}

.nav-link-eng {
    margin-left: 2.5rem;
}

a {
    text-decoration-line: none;
    color: black;
    text-decoration-color: blue;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3.5rem;
    margin: 2.5rem 2.5rem 0 2.5rem;
    background-image: url(./images/Polygon\ 17.png), url(./images/Polygon\ 18.png), url(./images/Ellipse\ 15.png), url(./images/Ellipse\ 16.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left bottom, left top, right top, right center;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.15rem;
}

h3 {
    font-size: 3.5rem;
    color: #5B38E3;
    font-weight: 700;
    margin-bottom: 0.15rem;
}

h4 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.header-para {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.4rem;
}

.header-button {
    background: #5B38E3;
    font-weight: 500;
    width: 8rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
}

.header-button:hover {
    text-decoration: underline;
    color: red;
    cursor: pointer;
}

.header-page {
    width: 35rem;
    height: auto;
}

#header-image {
    width: 35rem;
    height: auto;
}

.about-me {
    text-align: center;
    background: #202020;
    color: white;
    padding: 2rem;
    background-image: url(./images/___.png);
    background-repeat: no-repeat;
}

.about-me-heading {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about-me-p1 {
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
}

.about-me-value {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 1.5rem;
}

.about-me-value-1 {
    font-size: 1.3rem;
}

.about-me-value-2 {
    font-size: 2rem;
    font-weight: 700;
    color: #F7D046;
}

.my-expert {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.ui-ux {
    width: 10rem;
    background: #E0E43FF5;
    color: white;
    padding: 1rem;
}

.web-design {
    width: 10rem;
    background: #40AD86C4;
    color: white;
    padding: 1rem;
}

.app-design {
    width: 10rem;
    background: #5B38E3CC;
    color: white;
    padding: 1rem;
}

.design {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.design-1 {
    font-size: 0.8rem;
    text-align: start;
}

.my-works {
    text-align: center;
    background: #F5F5F5;
    color: black;
    padding: 2rem;
    background-image: url(./images/___.png);
    background-repeat: no-repeat;
}

.my-works-images {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.contact {
    display: flex;
    padding: 2.5rem;
    gap: 30rem;
    background: #BFB2F4;
    color: black;
}

.contact-heading {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.contact-p {
    font-size: 0.9rem;
    width: 18rem;
    margin-bottom: 1.5rem;
}

.contact-info {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    text-align: start;
}

#contact-image {
    background: #4F33BC;
    border-radius: 50%;
}

.contact-info span {
    font-size: 0.8rem;
}

.contact-info p {
    font-size: 1rem;
}

.form-info {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3rem;
    margin-bottom: 2.5rem;
}

input,
textarea {
    padding: 1rem;
    background: #BFB2F4;
    border-radius: 0.5rem;
    border: 1px solid black;
    font-weight: 700;
}

textarea {
    width: 100%;
    grid-column: 1 / span 2;
}

.form-button {
    background: #5B38E3;
    font-weight: 400;
    width: 8rem;
    height: 3.5rem;
    border: none;
    border-radius: 0.8rem;
    color: white;
}

.form-button:hover {
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

.footer-heading{
    text-align: center;
}
.footer-heading-content{
    padding: 5rem;
    border-radius: 50%;
    align-items: center;
    background: blue;
    width: 20rem;
    height: 15rem;
    margin: auto;
color: white;
}
.footer-icon{
   /* gap: 10rem; */
   margin-top: 2rem;
}

.footer-heading-content-2{
    padding-top: 5rem;
    padding-bottom: 7rem;
}